---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import header from "../components/header.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<header title="AstroBuild.tips"></header>
		<Hero />
		<ul role="list" class="link-card-grid">
			<Card title="Hello joto" time="2023-06-27" tags="javascript" />
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
