---
import Section from "./Section.astro";
---

<Section title="Accesorios" subtitle="" color="black" showFooterContent="true">
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-800 bg-gray-800 text-[14px] rounded font-medium text-white px-16 py-2 inline-block transition ease-in-out hover:scale-105 duration-500"
      rel="external noopener noreferrer"
      href="https://shop.tesla.com/es_mx?redirect=no"
    >
      Comprar ahora</a
    >
  </div>

  <img
    slot="background"
    src="/tsla-accesories.webp"
    alt="Model Y"
    class="h-full w-screen object-cover object-center bg-white"
  />
</Section>
