<footer
  class="py-3 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gra-600 text-xs font-medium"
  id="main-footer"
>
  <nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/about">Tesla © 2023</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/legal">Privacidad y legal</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://service.tesla.com/vin-recall-search"
          >Llamadas a revisión de vehíclos</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/contact">Contacto</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/blog">Noticias</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/findus/list">Ubicaciones</a
        >
      </li>
    </ul>
  </nav>
</footer>
