---
import Section from "./Section.astro";
---

<Section
  title="Energia solar y Powerwall"
  subtitle="Totalmente electrico"
  color="black"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-800 bg-gray-800 text-[14px] rounded font-medium text-white px-16 py-2 inline-block transition ease-in-out hover:scale-105 duration-500"
      rel="external noopener noreferrer"
      href="https://www.tesla.com/es_mx/powerwall"
    >
      Más información</a
    >
  </div>

  <img
    slot="background"
    src="/tsla-solar.webp"
    alt="Power wall y paneles solares"
    class="h-full w-screen object-cover object-center"
  />
</Section>
