<nav class="nav-sidebar">
  <a
    class="menu-button-mobile absolute top-3 right-9 w-[80px] h-[40px] border-[0px] bg-white/10 text-sm rounded text-center inline-block font-medium text-white py-2 hover:bg-white/25 transition-colors duration-700 mobile:visible desktop:invisible"
    href="#"
  >
    Menú</a
  >
  <aside
    class="sidebar absolute top-0 bottom-0 right-0 mobile:min-w-[27%] desktop:max-w-md h-screen bg-white pb-6 pt-4 overflow-y-auto transition translate-x-full opacity-0 delay-50 duration-700 z-10"
  >
    <div
      class="sidebar-header fixed flex justify-space-between top-0 bg-white mobile:w-9/12 mobile:h-20 mobile:mb-2 desktop:w-0 desktop:h-0 [&>button]:flex [&>button]:flex-row [&>button>p]:text-slate-900 [&>button>p]:text-xs z-20 transition delay-50 duration-700"
    >
      <button
        class="close-btn w-9 h-9 fixed right-5 pt-1 my-6 z-10 flex justify-center align-center hover:bg-stone-300/30"
      >
        <svg
          class="h-6 w-5 text-gray-600"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z"></path>
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line></svg
        >
      </button>
    </div>
    <ul
      class="links flex flex-col text-xs mt-14 pt-2 px-7 [&>li]:bg-white [&>li>a]:block [&>li>a]:text-slate-900 [&>li>a]:font-medium [&>li>a]:leading-1 [&>li>a]:pl-2 [&>li>a]:w-full [&>li>a]:h-full [&>li]:py-2 [&>li]:pl-1 [&>li]:my-[2px] [&>li]:rounded-sm [&>li]:transition-colors [&>li]:duration-300 [&>li]:cursor-pointer"
    >
      <li class="hover:bg-stone-300/30 mobile:visible desktop:hidden">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/models"
        >
          <span> Model S</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30 mobile:visible desktop:hidden">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/model3"
        >
          <span> Model 3</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30 mobile:visible desktop:hidden">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/modelx"
        >
          <span> Model X</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30 mobile:visible desktop:hidden">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/modely"
        >
          <span> Model Y</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/inventory/new/m3"
        >
          <span> Inventario existente</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/inventory/used/m3"
        >
          <span>Inventario Usado</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/drive"
        >
          <span>Demostración de manejo</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/fleet"
        >
          <span>Flotilla</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/powerwall"
        >
          <span>Powerwall</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/commercial"
        >
          <span>Energia comercial</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/utilities"
        >
          <span>Infraestructura</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/charging"
        >
          <span>Carga</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/careers"
        >
          <span>Bolsa de Trabajo</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_mx/findus?v=2&bounds=54.3280328157084%2C-66.90088009375%2C21.92058674478928%2C-131.63232540625&zoom=5&filters=store%2Cservice%2Csupercharger%2Cdestination%20charger%2Cbodyshop%2Cparty"
        >
          <span>Ubicanos</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.tesla.com/es_MX/support"
        >
          <span>Ayuda</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://ir.tesla.com/#quarterly-disclosure"
        >
          <span>Relaciones con inversionistas</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://shop.tesla.com/es_mx?redirect=no"
        >
          <span>Tienda</span>
        </a>
      </li>
      <li class="hover:bg-stone-300/30">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://auth.tesla.com/es_mx/oauth2/v1/authorize?redirect_uri=https%3A%2F%2Fwww.tesla.com%2Fteslaaccount%2Fowner-xp%2Fauth%2Fcallback&response_type=code&client_id=ownership&scope=offline_access%20openid%20ou_code%20email%20phone&audience=https%3A%2F%2Fownership.tesla.com%2F&locale=es-MX"
        >
          <span>Cuenta</span>
        </a>
      </li>
      <!--Dropdown ver más -->
      <div
        class="dropdown [&>a]:flex [&>a]:flex-row [&>a]:justify-between [&>a]:py-2 [&>a]:px-3 hover:bg-stone-300/30 mobile:visible desktop:hidden"
      >
        <a class="dropdown-btn cursor-pointer">
          <span class="text-slate-900 font-medium">Ver más</span>
          <svg
            class="arrow-right h-4 w-4 text-gray-500 ml-2"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </a>
        <div class="dropdown-container hidden transition delay-50 duration-700">
          <ul
            class="flex flex-col text-xs [&>li]:bg-white [&>li>a]:block [&>li>a]:text-slate-900 [&>li>a]:font-medium [&>li>a]:leading-1 [&>li>a]:pl-2 [&>li>a]:w-full [&>li>a]:h-full [&>li]:py-2 [&>li]:pl-1 my-[2px] [&>li]:rounded-sm [&>li]:transition-colors [&>li]:duration-300 [&>li]:cursor-pointer"
          >
            <li class="hover:bg-stone-300/30">
              <a
                href="index.html"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.tesla.com/es_mx/cybertruck"
              >
                <span>Cybertruck</span>
              </a>
            </li>
            <li class="hover:bg-stone-300/30">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.tesla.com/es_mx/roadster"
              >
                <span>Roadster</span>
              </a>
            </li>
            <li class="hover:bg-stone-300/30">
              <a
                href="index.html"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.tesla.com/es_mx/events"
              >
                <span>Noticias</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--Idioma -->
      <div
        class="sidebar-footer sidebar-footer w-full h-12 bg-white mt-0 ml-[-10] mr-10 pt-2 rounded-sm flex transition-colors duration-300 hover:bg-stone-300/30"
      >
        <svg
          class="h-5 w-5 text-gray-900 ml-1 mr-2 font-sm"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.2"
            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
          ></path>
        </svg>
        <ul class="flex flex-col [&>li>a]:leading-4">
          <li class="font-sm">
            <a href="" class="text-sm text-slate-900"> México</a>
          </li>
          <li class="font-sm">
            <a
              href=""
              class="text-xs text-slate-600 hover:underline underline-offset-4 decoration-2 delay-500 duration-1000"
              >Español</a
            >
          </li>
        </ul>
      </div>
    </ul>
  </aside>
</nav>

<div
  class="overlay absolute top-0 left-0 w-[100%] h-screen backdrop-blur-sm z-0 transition ease-in-out duration-1000 delay-1000 hidden"
>
  <script>
    const menuButtonDesktop = document.querySelector(".menu-button-desktop");
    const menuButtonMobile = document.querySelector(".menu-button-mobile");
    const sidebar = document.querySelector(".sidebar");
    const closeBtn = document.querySelector(".close-btn");
    const overlay = document.querySelector(".overlay");

    menuButtonDesktop.addEventListener("click", () => {
      sidebar.classList.toggle("translate-x-full");
      sidebar.classList.toggle("opacity-0");
      overlay.classList.toggle("hidden");
    });

    menuButtonMobile.addEventListener("click", () => {
      sidebar.classList.toggle("translate-x-full");
      sidebar.classList.toggle("opacity-0");
      overlay.classList.toggle("hidden");
    });

    overlay.addEventListener("click", () => {
      sidebar.classList.toggle("translate-x-full");
      sidebar.classList.toggle("opacity-0");
      overlay.classList.toggle("hidden");
    });

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("translate-x-full");
      sidebar.classList.toggle("opacity-0");
      overlay.classList.toggle("hidden");
    });
  </script>

  <script>
    const dropdown = document.getElementsByClassName("dropdown-btn");
    const arrow = document.getElementsByClassName("arrow-right");

    for (let i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        const dropdownContent = this.nextElementSibling;
        const arrow = this.querySelector(".arrow-right");

        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          arrow.style.transform = "rotate(0deg)";
        } else {
          dropdownContent.style.display = "block";
          arrow.style.transform = "rotate(90deg)";
        }
      });
    }
  </script>
</div>
