<div
    class="[&>a]:flex [&>a]:flex-row [&>a]:justify-between [&>a]:py-2 [&>a]:px-3 hover:bg-stone-300/30 mobile:visible desktop:hidden"
>
    <a class="dropdown-btn block cursor-pointer">
        <span class="text-slate-900 font-medium">Ver más</span>
        <svg
            class="arrow-right h-4 w-4 text-gray-500 ml-2"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
        <svg
            class="arrow-down h-4 w-4 text-gray-500 ml-2 hidden"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg>
    </a>
    <div class="dropdown-container none transition delay-50 duration-700">
        <ul
            class="flex flex-col text-xs [&>li]:bg-white [&>li>a]:block [&>li>a]:text-slate-900 [&>li>a]:font-medium [&>li>a]:leading-1 [&>li>a]:pl-2 [&>li>a]:w-full [&>li>a]:h-full [&>li]:py-2 [&>li]:pl-1 my-[2px] [&>li]:rounded-sm [&>li]:transition-colors [&>li]:duration-300 [&>li]:cursor-pointer"
        >
            <li class="hover:bg-stone-300/30">
                <a
                    href="index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="#"
                >
                    <span>Cybertruck</span>
                </a>
            </li>
            <li class="hover:bg-stone-300/30">
                <a
                    href="index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="#"
                >
                    <span>Roadster</span>
                </a>
            </li>
            <li class="hover:bg-stone-300/30">
                <a
                    href="index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="#"
                >
                    <span>Noticias</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    const sidebarDropdown = document.getElementById("dropdown-container");
    // This function will toggle the visibility of the sidebar
    function toggleSidebarDropdown() {
        let sidebarDropdown = document.getElementById("dropdown-container");
        sidebarDropdown.style.transform =
            sidebarDropdown.style.transform === "translate(0, 0)"
                ? "translate(-100px, 0)"
                : "translate(0, 0)";
    }

    // Add an event listener to the sidebar button
    document.getElementById("dropdown-btn");
    document.addEventListener("click", toggleSidebarDropdown);
</script>
